Present configuration data structures differently

There are now three distinct functions QUIC-LB is supporting. A more structured presentation of the configuration schema, like Section 3 of RFC 8446, would make things clearer.

Resolved in #54 